@{
    ViewBag.Title = "Home Page";
}

<h1 class="dashboard"><span>Dash board</span></h1>

<div class="main">
    <div class="c_table">
        <h1>March 2021</h1>

        <div class="table_title">
            <div>Counts</div>
            <div>Total Amount</div>
        </div>
        <table class="tb_summary">

            <tr>
                <td>Quotation</td>
                <td>123</td>
                <td>12,345,678</td>
            </tr>
            <tr>
                <td>Order</td>
                <td>110</td>
                <td>11,325,677</td>
            </tr>
            <tr>
                <td>Invoice</td>
                <td>100</td>
                <td>12,345,321</td>
            </tr>

        </table>
    </div> <!--End c_table-->
    <div class="shortcut">
        <h1>Short cut</h1>
        <ul>
            <li><p><a href="#">Make a quote</a></p></li>
            <li><p><a href="#">Order Management</a></p></li>
            <li> <p><a href="#">Invoice creation</a></p></li>
            <li><p><a href="#">Client Registration</a></p></li>
        </ul>
    </div> <!--End .shortcut-->

</div> <!--End .main-->


<aside class="sidebar">
    <h1 class="notice">Notice</h1>
    <ul class="item">
        <li>
            <a href="#">2021.01.01</a>
            <a href="#">This is the tilte  of the notice No.1</a>
            <p>This is the content of the notice No.1</p>
        </li>
        <li>
            <a href="#">2021.01.01</a>
            <a href="#">This is the tilte  of the notice No.2</a>
            <p>This is the content of the notice No.2</p>
        </li>
        <li>
            <a href="#">2021.01.01</a>
            <a href="#">This is the tilte  of the notice No.3</a>
            <p>This is the content of the notice No.3</p>
        </li>
    </ul>
    <div class="end_sidebar">
        <span><a href="#">More View</a></span>
    </div> <!--End .sidebar-->
</aside> <!--End sidebar-->