@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="log_in">
    <div class="log-form">
        <h2>Login</h2>
        <form>
            <input type="text" title="username" placeholder="Username" />
            <input type="password" title="username" placeholder="Password" />
            <button type="submit" class="btn">Login</button>
            <a class="forgot" href="#">Forgot password?</a>
        </form>
    </div><!--end log form -->
</div>
<div class="right_side">
    <h1 class="right_logo">IC Design Lab, Inc.</h1>
</div> <!--End right_side-->